.tab-items-list {
  width: 50%;
  margin: 1rem auto 0 auto;
  height: 4rem;
  display: flex;
  align-items: center;
}

.tab-items-list-item {
  height: 4rem;
  width: 50%;
  border: none;
  box-shadow: 1px 1px 2px var(--color-black), -1px -1px 2px var(--color-black);
}

.tab-items-list-link,
.tab-items-list-link:link,
.tab-items-list-link:active {
  text-decoration: none;
  font-size: 18px;
  color: var(--main-color);
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  transition: 0.2s all;
}

.tab-items-list-link:hover {
  font-weight: 400;
}
